@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/SpaceGrotesk-Regular.ttf") format("opentype");
}

@font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/SpaceGrotesk-Bold.ttf") format("opentype");
}

@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Fraunces-Regular.ttf") format("opentype");
}
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Fraunces-Bold.ttf") format("opentype");
}